<!DOCTYPE html> 
<html> 
<head> 
<meta charset="UTF-8">
<style> 
body{ 
  margin:0; 
  height:100vh; display:grid; /* duas colunas */ 
  grid-template-columns: 1fr 1fr; /* duas linhas iguais */ 
  grid-template-rows: 1fr 1fr; /* definição do layout */ 
  grid-template-areas: "tela1 tela3" "tela2 tela3";
} 
iframe{
    width:100%;
    height:100%;
    border:none; 
  } /* posições */ 
  .tela1 { grid-area: tela1; } 
  .tela2 { grid-area: tela2; } 
  .tela3 { grid-area: tela3; } 
</style> 
</head> 

<body> 
  <iframe id="tela1" class="tela1"></iframe> 
  <iframe id="tela2" class="tela2"></iframe>
  <iframe id="tela3" class="tela3"></iframe> 
  
  <script> 
  function getParam(name){ 
    const params = new URLSearchParams(window.location.search) 
    return params.get(name) } 
    
    const t1 = getParam("t1") || 1 
    const t2 = getParam("t2") || 2 
    const t3 = getParam("t3") || 3 
    
    document.getElementById("tela1").src = "tela" + t1 + ".html" 
    document.getElementById("tela2").src = "tela" + t2 + ".html" 
    document.getElementById("tela3").src = "tela" + t3 + ".html" 
  
    </script> 
  </body> 
  </html>