<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Document</title>
    <style>
        body {
            background-color: rgb(230, 215, 173); 
            text-align: center;
        }
        
        .centralizado {
            width: 50%;
            margin: 0 auto;
            margin-top: 20vw;
        }
    </style>
</head>
<body>
    <h1> Boas-vindas!</h1>
    <h1 class="centralizado"> SMART DIGITAL PANEL PROJECT </h1>

</body>
</html>


