<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        body {
            background-color: lightblue; /* Você pode usar nomes, HEX ou RGB */
        }
    </style>
</head>
<body>
    <h1> Calendário Acadêmico</h1> 
    <div class="figura">
        <img src="cac-2026.png" width="80%"  alt="Calenário Acadêmico 2026">
    </div>
</body>
</html>
