body {
  background-color: rgb(243, 233, 233);
  margin: 2vw;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.titulosplaylists {
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #6abf59;
}
.cards-avisos{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap:20px;
  margin-bottom:30px;
}

.card-aviso{
  background:#5eb86c;
  border-radius:16px;
  padding:20px;
  cursor:pointer;
  transition:0.2s;
  color:#003049;
  box-shadow:0 2px 8px rgba(0,0,0,0.15);
}

.card-aviso:hover{
  transform:scale(1.02);
  background:#5eb86c;
}

.card-aviso h3{
  margin-top:0;
}

textarea{

  width:100%;
  height:120px;
  resize:none;
  padding:15px;
  border-radius:12px;
  border:none;
  margin-bottom:15px;
  font-size:16px;
  box-sizing:border-box;
}

.btn-playlist{
  padding:12px 18px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  background:#003049;
  color:white;
  font-size:15px;
  transition:0.2s;
  margin-bottom: 1vw;
}

.btn-playlist:hover{
  opacity:0.9;
}

.btn-voltar {
  padding:14px 24px;
  border:none;
  border-radius:12px;
  background:#43a047;
  color:white;
  font-size:1rem;
  font-weight:bold;
  cursor:pointer;
  transition:0.2s;
}
.btn-voltar:hover{
  opacity:0.9;
}
.acoes-playlist{
  display:flex;
  gap:15px;
  flex-wrap:wrap;
  margin-top:20px;

}

.destaque{
  background:#2f9e40;
}

#playlist-preview{
  margin-top:30px;
  display:flex;
  flex-direction:column;
  gap:15px;
}

.card-preview{
  background:white;
  border-radius:12px;
  padding:15px;
  box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

.card-preview.personalizado{
  border-left:8px solid #444;
}

.card-preview.pronto{
  border-left:8px solid #2f9e40;
}

.card-preview h3{
  margin:0 0 10px;
}

.secao-titulo{
  width:100%;
  margin-top:30px;
  margin-bottom:10px;
  color:#003049;
}

.selecionado{
  border:4px solid #2f9e40;
  transform:scale(1.03);
  box-shadow:
    0 0 20px rgba(0,119,255,0.35);
}

.card-personalizado{
  background:#ececec;
  color:#222;
}

.link-preview{
  width:100%;
  height:180px;
  overflow:hidden;
  border-radius:8px;
  margin:10px 0;
  background:#000;
}
.link-preview iframe{
  width:100%;
  height:100%;
  border:0;
  pointer-events:none; /* permite clicar no card por cima do iframe */
}